<nav class="quick-menu">
<ul>
    <li class="li-quick-menu"><a href=''></a>Mi cuenta</li>
    <li class="li-quick-menu"><a href=''></a>Opcion 2</li>
    <li class="li-quick-menu"><a href=''></a>Opcion 3</li>
    <li class="li-quick-menu"><a href=''></a>Opcion 4</li>
</ul>
</nav>
<div class="container">
    <div class="container-clients">
        <ul>
            <li>Cliente1</li>
            <li>Cliente2</li>
            <li>Cliente3</li>
            <li>Cliente4</li>
        </ul>
    </div>
    <div class="container-income">
        <ul>
            <li>Ingreso1</li>
            <li>Ingreso2</li>
            <li>Ingreso3</li>
            <li>Ingreso4</li>
        </ul>
    </div>
</div>
<div class="dashboard-btn">
    <button type="submit" class="btn"><a routerLink="/auth/login">Volver a login</a></button>
</div>