* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
  }

body {
    background-color: rgba(40, 73, 62, 0.747);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

li {
    margin: 0 20px;
}

a {
    margin: 10px;
    font-size: small;
}

.correo {
    margin: 10px;
}

.password {
    margin: 10px;
}

.acceso {
    display: flex;
    justify-content: right;
    margin: 10px;
}

.titulo-login {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.div-dashboard {
    border: 5px solid grey;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.dash-cliente {
    border: 5px solid grey;
}

.dash-ingreso {
    border: 5px solid grey;
}

.ul-cliente {
    display: block;
}

.ul-ingreso {
    display: block;
}

.main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "main"
        "footer";
    max-width: 960px;
    margin: auto;
    justify-content: center;
}

.main-content {
    grid-area: main;
    margin: 10px;
    margin-top: 30%;
    border: 5px solid grey;
}

.main footer {
    grid-area: footer;
    margin: 10px;
    display: flex;
    align-items: center;
}